.wpb_about {
	.about_items{
		&:hover{
			background: none;

			.find_more_btn{

			}
		}
		.find_more_btn{
			opacity: 1;
			-webkit-transform: rotateY(0deg);
		    -ms-transform: rotateY(0deg);
		    transform: rotateY(0deg);
		    background: $blue;

		    &:hover{
				box-shadow: inset 0 68px 0 0 $blue-cadet;
		    }
		}
	}
	p.aboutus_disc1{
		font-size: 1.25em;
	}
	
}