.site-footer{
	background: darken($blue-cadet, 15%);
	color: white;
	position: relative;
	.wrap {
	    padding-bottom: 0px;
	    padding-top: 1em;
	}
	h3{
		color: white;
	}
	form{
		input{
		    width: 100% !important;
		    &[type="submit"]{
		    	width:auto !important;
		    }
		 }
		 p{
		 	line-height: 1;
		 }
	}
	.widget{
		padding-bottom: 0em;
	}
	.widget-area{
		a{
			color: white;
			-webkit-box-shadow:none;
			box-shadow:none;
	}
	section#search-3 {
	    padding: 25px 40px 0px 0px;
	    width: 90%;

	    
	    button.search-submit{
	    	background: $green-light;
	    }
	}
}
	.social-navigation{
		a{
			background-color: $green-light;
			
			transition: all .2s ease-in;
			&:hover{
				background-color: lighten($green-light, 10%);
				box-shadow: 0px 0px 0px 3px #fff;
				color: #fff;
			}
		}
	}
	.site-info{
		a{
			color: lighten($green-light, 55%);
		    text-decoration: none;
		    box-shadow: none;
		}
		
	}
	.widget-column{
		&.footer-widget-1, &.footer-widget-2{
			@media screen and (min-width: 37.5em){
				width: 45%;
			}
		}
		&.footer-widget-1{
			@media screen and (min-width: 37.5em){
				float: left;
			}
		}
		&.footer-widget-2{
			@media screen and (min-width: 37.5em){
				float: right;
			}
			@media screen and (max-width: 28em){
				margin-top: 3em;
			}
		}
		h2.widget-title{
			color: white;
			font-size: 1.5em;
    		margin-bottom: 15px;
		}
		p{
			display: flex;
			 @media screen and (max-width:28em){
			 }
			label{
				color: white;
				font-weight: 100;
				&#email, &#phone{
					width: 45%;
				    float: left;
				    padding: 0 5% 0 0;
				}
			}
		}
		section#search-2{
			margin-top: 50px;
		    border-top: 1px solid white;
		    padding: 30px 40px 0;

		    h2{
		    	font-size: 1em;
		    }
		    input{
		    	padding: 10px !important;
		    }
		    .search-form .search-submit{
		    	background: $green-light;

		    	&:hover{
		    		background: lighten($green-light, 20%);
		    	}
		    }
		}
		
		
		textarea.wpcf7-form-control.wpcf7-textarea{
			height: 80px;
		}
	}
	.bottom-footer {
	    background: $black;
	    text-align: center;
		.site-info, .social-navigation{
			@media screen and (min-width: 30em){
				width: 47%;
				text-align: left;
			}
		}
		.site-info{
			@media screen and (min-width: 30em){
				text-align: right;
			}	
		}

	}

}