body, html{
	font-family: 'Raleway', sans-serif;
}
h1, h2, h3{
	font-family: $font-header;
	font-weight: 100;
}
p{
	line-height: 1.8;
	
}

a{
	color: $green-light;

	&:hover{
		color: lighten($green-light, 10%);
	}
}

.entry-content a, .entry-summary a, .widget a, .site-footer .widget-area a, .posts-navigation a, .widget_authors a strong{
	-webkit-box-shadow: none;
    box-shadow: none;
}

.entry-content a:focus, .entry-content a:hover, .entry-summary a:focus, .entry-summary a:hover, .widget a:focus, .widget a:hover, .site-footer .widget-area a:focus, .site-footer .widget-area a:hover, .posts-navigation a:focus, .posts-navigation a:hover, .comment-metadata a:focus, .comment-metadata a:hover, .comment-metadata a.comment-edit-link:focus, .comment-metadata a.comment-edit-link:hover, .comment-reply-link:focus, .comment-reply-link:hover, .widget_authors a:focus strong, .widget_authors a:hover strong, .entry-title a:focus, .entry-title a:hover, .entry-meta a:focus, .entry-meta a:hover, .page-links a:focus .page-number, .page-links a:hover .page-number, .entry-footer a:focus, .entry-footer a:hover, .entry-footer .cat-links a:focus, .entry-footer .cat-links a:hover, .entry-footer .tags-links a:focus, .entry-footer .tags-links a:hover, .post-navigation a:focus, .post-navigation a:hover, .pagination a:not(.prev):not(.next):focus, .pagination a:not(.prev):not(.next):hover, .comments-pagination a:not(.prev):not(.next):focus, .comments-pagination a:not(.prev):not(.next):hover, .logged-in-as a:focus, .logged-in-as a:hover, a:focus .nav-title, a:hover .nav-title, .edit-link a:focus, .edit-link a:hover, .site-info a:focus, .site-info a:hover, .widget .widget-title a:focus, .widget .widget-title a:hover, .widget ul li a:focus, .widget ul li a:hover{
	-webkit-box-shadow: none;
    box-shadow: none;
    color: lighten($green-light, 10%);
}
//global styling elements
.col2 {
    width: 50%;
    float: left;
    padding: 0px 3%;
}

//Special UI elements

hr{
	width: 100%;
	background: $green-light;
    height: 1px;
    border-radius: 50%;
    margin: 40px 0;
}

span.small{
	font-size:0.9em;
}

.highlight{
	background: $blue-cadet;
	color: #fff;
	padding: 30px;
	visibility: hidden; //need to add animation in HTML to make visible
}
.border-top-bottom{
    padding: 20px;
    border-top: 5px solid green;
    margin: 0 10px 30px;
    border-bottom: 5px solid #f5f5f5;
}

//images
img.alignleft, img.alignright{
	 @media screen and (max-width:28em){
		display: block;
	 }	
}

.entry-content a img, .widget a img{
	 -webkit-box-shadow: none;
     box-shadow: none;
}

