body.has-header-image {	
	
	&.twentyseventeen-front-page{
		@media screen and (min-width: 38em){
			.custom-header{
				text-align: center;
				height: calc(80vh - 32px);

				.custom-header-media{
					height: calc(80vh - 32px);
				}
			}
		}
	} 
	.site-branding-text {
	    display: inline-block;
	    vertical-align: middle;
	    transform: translateY(20px);

	    @media screen and (max-width:48em){
	    	text-align: center;
	    	transform: translate(10px, -170px);
	    }
	    @media screen and (max-width:28em){
			transform: translateY(-220px);
	     }

	    .site-title {
		    font-size: 1.4em;
		    font-family: "Open Sans", sans-serif;
		    color: $green-light;
		    text-shadow: 1px 1px 1px rgba(255,255,255,.8);

		    a{
		    	color: $green-light;
		    	&:hover{
		    		opacity: 1;
		    	}
		    }
	    }
		h1.site-description{
			font-family: $font-header;
			font-size: 4em;
			opacity: 1;
			line-height: 1.2;
			@media screen and (max-width:48em){
				font-size: 3em;
			}
		}
		h2{
			padding-bottom: 0;
			color: #fff;
			 font-size: 1.5em;
		}
	}

	//sub-page header
	.single-featured-image-header{
		.entry-header{
			h1{
				position: absolute;
			    z-index: 3;
			    top: 40%;
			    color: #fff;
			    font-size: 3em;
			    width: 100%;
			    text-align: center;

			     @media screen and (max-width:48em){
					top: 30%;
			     }
			}
		}
	}
}