.home{
	#page{
		.site-content-contain{
			margin-top: 0 !important;
		}
	}
	//home page section
	article#post-8{
		background: url(../assets/images/light-bulb.jpg);
	    background-size: cover;
	    background-position: left 30%;

	    .panel-content{
	    	background:#fff;
	    	background: rgba(255,255,255,.5);
	    }
	}
	#panel1 {

	}
	#panel2{
		.hide-on-home {
		    display: none;
		}
	}

	.site-footer{
		@media screen and (min-width: 48em){
			margin-top: 0;
		}
	}
}