.home{
	#page{
		.site-content-contain{
			margin-top: 0 !important;
		}
		.panel-content{
			.entry-header{
				margin-bottom: 1em;
			}

		}
	}
	//home page section
	article#post-8{
		//background: url(../assets/images/exploding-bulb.jpg);
		background: lighten($blue-cadet, 60%);
	    background-size: cover;
	    background-position: left 30%;

	    .panel-content{
	    	background:#fff;
	    	background: rgba(255,255,255,.6);
	    	p{
	    		color: #000;
	    	}
	    }
	}
	#panel1 {
		//background: url(../assets/images/ecailles.png);
	}
	#panel2{
		.hide-on-home {
		    display: none;
		}
	}
	#panel3{
		background: darken($green-light,15%);
    	padding-bottom: 20px;
    	h2{
    		display: none;
    	}
    	.wrap{
    		@media screen and (min-width: 48em){
    			padding: 0 0 10px;
    		}
    	}
	}

	.site-footer{
		@media screen and (min-width: 48em){
			margin-top: 0;
		}
	}
}