.navigation-top {
    z-index: 4;
    &.site-navigation-fixed{
        height: 80px;
        transition: .5s all ease-in-out;
        .custom-logo-link{
            img{
                max-height: 65px;
            }
        }
    }
    @media screen and (min-width: 48em){
       // bottom: auto;
        top: 0;
        height: 100px;
    }
    .site-navigation-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    svg.icon.icon-arrow-right {
        display: none;
    }
    .main-navigation{
        li{
            a{
                &:hover{
                    color: $green-light;
                }
            }
            li{
                &:hover{
                    background: $blue-cadet;
                }
                a{
                    &:hover{
                        color: lighten($green-light, 30%);
                    }
                }
            }
        }

        
    }
}