.navigation-top {
    z-index: 2;
    &.site-navigation-fixed{
        height: 80px;
        .custom-logo-link{
            img{
                max-height: 65px;
            }
        }
    }
    @media screen and (min-width: 48em){
       // bottom: auto;
        position: relative;
    }
    .site-navigation-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    svg.icon.icon-arrow-right {
        display: none;
    }
    .main-navigation{
        li{
            a{
                &:hover{
                    color: $green-light;
                }
            }
            li{
                &:hover{
                    background: lighten($blue-cadet, 60%);
                }
            }
        }

        
    }
}