.page{
	.intro{
		font-size: 2em;
		color: $blue-cadet;
	}
	.single-featured-image-header{
		height: 400px;
		margin-bottom: -50px;

		img{
			position: fixed;
		}
	}
	.site-content-contain{
		border-top: 5px solid $blue-cadet;
		margin-top: 50px;
	}
	.panel-content{
		.entry-header{
			margin-bottom: 2em;
		}
		.entry-title{
			color: $blue-cadet;
		}
	}
}
body.page:not(.twentyseventeen-front-page){
		.entry-title{
			color: $blue-cadet;
			    font-size: 24px;
		}
	} 
section.error-404.not-found {
    padding-top: 2em;
}