#panel1{
	.entry-content{
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    align-items: flex-start;

	    figure{
	    	padding: 10px 15px;
    		height: 200px;
		    width: 32%;
    		//box-shadow: 0 0 10px 1px lightgrey;

		    &.wp-caption{
		    	&:hover{
			    	.wp-caption-text {
						transform: translateY(0px);
						opacity: 1;
					}
		    	}
				.wp-caption-text {
					margin: 10px 0 -20px;
					opacity: 0;
					transition: .25s linear;
					background: $green-light;
					color: #fff;
					padding: 5px 10px;
					box-shadow: 0 0 10px 1px lightgrey;
					border-radius: 4px;
					transform: translateY(-50px);
					font-style: normal;	
					&:before, &:after{	
					    border-style: solid;
					    border-width: 0 6px 6px;
					    content: "";
					    display: block;
					    height: 10px;
					    position: absolute;
					    right: 1em;
					    bottom: 100%;
					    width: 10px;
					    z-index: 100000;
					}
					&:before{
						border-color: transparent transparent $green-light;
    					top: 0;
					}
					&:after{
						border-color: transparent transparent $green-light;
					}
		    	}
		    	img[class*="wp-image-"]{
		    		&:hover{
		    			filter: gray; /* IE6-9 */
					  	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
					  	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
		    		}
		    	}
		    	
		    }

		 } 
	}
}