#panel1{
	.intro{
		 @media screen and (max-width: 28em){
		 	font-size: 1.25em;
		 	text-align: center;
		 }	
	}
	h2{
		display: none;
	}
	.entry-content{

	    h3{
	    	text-align: center;
	    }
	.photobanner{
		@media screen and (min-width: 62em){
 			margin: 0 -10em;
		}
		display: flex;
		flex-wrap: wrap;
		margin: 0 -3em;
		/*background: #fff;
		margin: 0px -16em;
	    height: 210px;
	    padding: 7px 0;
	    overflow: hidden;*/
	    @media screen and (max-width: 48em){
			margin: 0;
			/*height: auto;
			overflow: visible;
			display: flex;
    		flex-wrap: wrap;*/
	    }
			figure{
				@media screen and (min-width: 62em){
					width: 18%;
					max-width: 300px !important;
				}
				float: left;
    			padding: 0 7px;
    		    position: relative;
   				top: 0px;
			    width: 23%;
			    border: 2px solid $green-light;
			    margin: 10px 1%;
			    @media screen and (min-width: 40em) and (max-width: 47.99em){
					width: 31%;
					border: 0;
				    border-bottom: 4px solid green;
				    padding: 0px 0px;
			    }
   				 @media screen and (max-width: 39.999em){
					float: none;
					border: none;
					margin: 0 auto;
					width: 50%;
   				 }
   				 a{
   				 	height: 40px;
   				 	display: inline-block;
   				 	@media screen and (max-width: 39.99em){
						height: 60px;
   				 	}
   				 }
			   	&.wp-caption{
					.wp-caption-text {
						font-style: normal;
					    padding: 0 5px 10px;
					    text-align: left;
					    font-size: .95em;
					    height: 110px;
					    @media screen and (min-width: 40em) and (max-width:47.99em){
							padding-top:20px;
					    }
					    @media screen and (max-width: 39.999em){
							border: none;
							padding: 0 0 13px;
					    }
						/*&:before, &:after{	
						    border-style: solid;
						    border-width: 0 6px 6px;
						    content: "";
						    display: block;
						    height: 10px;
						    position: absolute;
						    right: 1em;
						    bottom: 100%;
						    width: 10px;
						    z-index: 100000;
						}
						&:before{
							border-color: transparent transparent $green-light;
	    					top: 0;
						}
						&:after{
							border-color: transparent transparent $green-light;
						}*/
			    	}
			    	img[class*="wp-image-"]{
			    		@media screen and (min-width: 50em){
							padding: 10px 25px;
			    		}
			    	    max-width: 100%;
    					padding: 10px;
			    		transition: all .25s ease-in;
			    		&:hover{
			    			filter: gray; /* IE6-9 */
						  	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
						  	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
						  	opacity:0.8;
						  	transform: scale(1.05);
			    		}
			    	}
			    	
			    }

			 } 

	}

	}
}


/*keyframe animations*/
.scroll {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear eas;
	  @media screen and (max-width: 28em){
	  	-webkit-animation: none;
	   -moz-animation: none;
	    -ms-animation: none;
	     -o-animation: none;
	        animation: none;
	  }    
}
 
@keyframes "bannermove" {
 0% {margin-left: 0px;}
 100% {margin-left: -3125px;}
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -3125px;
 }
 
}