//#panel2 is the sponsor section on the home page
#panel2{
	background-image: url(../assets/images/ecailles.png);//linear-gradient(lighten($blue-cadet, 68%), #fff);

	header{
		h2{
			font-size: 3em;
			text-align: center;
		}
	}
	.panel-image {
	    height: 100px;
	}
	figcaption.wp-caption-text {
	    display: none;
	}
	.entry-content{
		background: #fff;
		box-shadow: 0px 3px 9px 0px #efefef;
			.col2{
				height: 180px;
				padding: 10px 30px;
				.sponsor-link{
					box-shadow: 0px 0px 0px 0px grey;
					.sponsor-img{
						padding: 10%;
						margin-top: 10px;
					}
				}
			}
			
	}
}
//Sponsor page styles
.sponsor-img{
	&:hover{
		filter: gray; /* IE6-9 */
		-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
		filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
		opacity:0.8;
	}

}
.hide-on-home {
	clear: both;
	margin-top: 20px;
}