$blue: #003366;
$blue-cadet:#003F91;
$green: #99CC99;
$brick: #993300;
$platinum:#E5F4E3;

$purple: #241023;
$purple-light:#6D326D;
$green-light:#47A025;

$black: #18181a;

$font-header: 'Josefin Sans', sans-serif;